body,html {
    margin:0;
    padding:0;
}

body {
    color: rgb(75, 75, 75);
    font-family: "proxima-nova", sans-serif;
    overflow-x:hidden;
    margin-bottom: 100px;
}

a {
    color: rgb(75, 75, 75);
    cursor: pointer;
    transition: color 0.7s;
}

a:hover, a:focus {
    color: rgb(55, 55, 55);
}

a:active {}

input[type=submit],
input[type=reset],
input[type=button] {
    margin: 2px;
    min-width: 65px;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
    color: rgb(255, 255, 255);
    font-size: 80%;
    padding: 0.2em .5em;
    border: 0px none transparent;
    text-decoration: none;
    border-radius: 2px 2px 2px 2px;
    transition: box-shadow 0.1s linear 0s;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    -moz-user-select: none;
    transition: border 0.7s;
    outline: none;
}

.err {
    color: #b32b2b; 
    font-style:italic;
}

.tampon {
    width: 5px;
    height: 30px;
}

/* NAV */

div#nav {
    width:100%;
    color: white;
    text-align:left;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
    transition: box-shadow 0.7s;
    position:fixed;
    top:0px;
    left:0px;
    z-index: 997;
}

div#nav:hover {}

div#nav a {
    color: white;
    text-decoration:none;
    display:inline-block;
    padding: 10px 20px;
    transition: background-color 0.7s;
}

div#nav form {
    display:inline-block;
    margin: 0;
    padding: 0;
}

div#nav form input {
    padding: .25em .6em;
    margin-bottom: 7px;
    display: inline-block;
    border: 1px solid #ccc;
    font-size: .8em;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 20px;
    width: 250px;
    transition: width 0.5s;
    outline: none;
}

div#nav form input:hover,
div#nav form input:focus {
    width: 350px;
}

div#nav a:first-of-type {
    margin-left:20%;
}

div#nav a:hover {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
}

div#nav img {
    height: 17px;
    vertical-align: bottom;
}

/* LOADING */

img#loading {
    position: fixed;
    top: 50px;
    left: 10px;
}

/* POP */

div#pop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    background-image: url('../img/blanc.png');
}

div#pop div#pop_cont {
    height: 373px;
    overflow: auto;
}

div#pop>div {
    margin-top: 7%;
    margin-right: auto;
    margin-left: auto;
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #ccc;
    box-shadow:  0 0px 6px #ddd;
}

div#pop h3 {
    height: 17px;
    margin: 0;
    padding: 5px;
    padding-left: 15px;
    border-radius: 4px 4px 0px 0px;
    color: white;
    font-weight: normal;
    font-size: 1em;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
}

div#pop h3 a {
    display: inline-block;
    text-decoration: none;
    color: white;
    float: right;
}

/* MAP */

div#map {
    display: block;
    position: absolute;
    height:473px;
    width:473px;
}

div#mapinfo {
    display: inline-block;
    margin-left: 473px;
    padding: 12px;
}

div#mapinfo span#textAdd,
div#mapinfo span.label {
    font-family: "omnes-pro", sans-serif;
    font-size: .9em;
    font-weight: 300;
    color: gray;
    font-style: italic;
}

div#mapinfo span#textAdd {
    font-size: .8em;
}

div#mapinfo span.info {
    display: inline-block;
    font-family: "omnes-pro", sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    margin-bottom: 10px;
}


/* NOTIFICATIONS */

table#notif {
    font-size: .9em;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

table#notif td {
    padding: 10px 15px;
    text-align: right;
    border-bottom: 1px solid #ccc;
}

table#notif td:first-of-type {
    text-align: left;
}

table#notif h6 {
    font-size: 1em;
    margin: 0;
    padding: 0;
}

p.nonotif {
    text-align: center;
    color: rgb(180, 180, 180);
    font-family: "omnes-pro", sans-serif;
    font-size: 1em;
    font-weight: 300;
}

/* TITRE */

div#titre {
    margin:55px 20%;
    position:absolute;
    padding-left:20px;
}

div#titre h1 {
    font-family: "omnes-pro", sans-serif;
    font-size: 3em;
    font-weight: 300;
    padding:0;
    margin: 0;
    border:0;
}

div#titre span {
    font-style:italic;
}

/* INFO PERSO */

div#perso {
    color: white;
    text-align:left;
    border-radius: 5px 5px 5px 5px;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
    position:fixed;
    left: 70%;
    top: 100px;
    padding:30px;
    padding-bottom:15px;
    max-width:450px;
    overflow:auto;
}

div#perso h2 {
    font-family: "omnes-pro", sans-serif;
    font-size: 2em;
    font-weight: 300;
    padding:0;
    margin: 0;
    border:0;
}

div#perso a {
    color:white;
}

div#perso a:hover,
div#perso a:focus {
    text-decoration: underline;
}

div#perso span a {
    text-decoration: none;
}

div#perso span.label {
    display:block;
    margin-top:10px;
    font-family: "omnes-pro", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: .85em;
}

div#perso span.carac {
    font-family: "omnes-pro", sans-serif;
    font-weight: 300;
    display:block;
    margin-bottom:10px;
}

div#perso div.option {
    text-align:right;
    font-size: 0.8em;
    margin-top:15px;
}

div#perso img {
    height: 20px;
    vertical-align: bottom;
    margin-left: 10px;
}

/* CONT */

div#cont {
    position:absolute;
    top: 120px;
    left: 20%;
    border:solid 1px rgb(200, 200, 200);
    margin:20px;
    width: 45%;
}

/* HOME */

a.activity {
    text-align: center;
    display: block;
    text-decoration: none;
}

a.activity span {
    font-weight: bold;
}

div#home {
    position:absolute;
    top: 120px;
    left: 20%;
    margin:20px;
    width: 45%; 
}

/* MENU */

div.menu {
    margin: 85px auto;
    background: none repeat scroll 0% 0% rgb(51, 51, 51);
    color: white;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 2px 0px 7px rgb(51, 51, 51);
    width: 300px;
}

div.menu a {
    color:white;
    text-decoration:none;
    display: block;
    padding: 20px;
    padding-left:30px;
    border-bottom: 1px solid rgb(55, 55, 55);
    transition: background-color 0.5s;
}

div.menu a:first-of-type {
    border-radius: 5px 5px 0px 0px;
}

div.menu a:last-of-type {
    border:0;
    border-radius: 0px 0px 5px 5px;
}

div.menu a:hover {
    background-color:rgb(45, 45, 45);   
}

/* RECHERCHER */

div#recherche {
    position:absolute;
    top: 120px;
    left: 20%;
    margin:20px;
    width: 45%;
    height:75%;
    border-radius: 5px 5px 5px 5px;
}

div#recherche p.msg {
    display: block;
    margin-top: 60px;
    font-weight: bold;
    font-family: "omnes-pro", sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    padding: 0;
    border: 0;
}

div.personne {
    background-color: rgb(51, 51, 51);
    color: white;
    margin-bottom: 20px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 2px 0px 7px rgb(51, 51, 51);
    padding: 10px;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
    cursor: pointer;
}

div.personne h5 {
    margin: 0;
    padding: 0;
    font-size: .9em;
}

div.personne span.univ {
    font-size: .8em;
}

div.personne img {
    float: left;
    height: 25px;
    margin-right: 15px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

div.personne span.ville {
    font-size: .9em;
}

div.infoautreperso {
    margin: 20px;
}

div.infoautreperso a {
    text-decoration: none;
}

div.infoautreperso p.msg {
    font-size: .8em;
    font-style: italic;
}

div.infoautreperso span.label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    font-family: "omnes-pro", sans-serif;
    font-size: 1em;
    font-weight: 300;
    padding: 0;
    border: 0;
}

div.infoautreperso span.carac {
    display:block;
    margin-bottom:10px;
}

/* VOYAGE */

div#voyages {
    position:absolute;
    top: 120px;
    left: 20%;
    margin:20px;
    width: 45%;
    height:75%;
}

div#voyages input.newvoy {
    margin-top: 21px;
    float: right;
}

div#voyages span.welcome {
    display: block;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: "omnes-pro", sans-serif;
    font-size: 1.2em;
    font-weight: 300;
}

div#voyages input.newvoy_wel {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
}

div#voyages #map {
    height: 100%;
    width: 100%;
}

div.voyage {
    background-color: rgb(51, 51, 51);
    color: white;
    margin-bottom: 20px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 2px 0px 7px rgb(51, 51, 51);
    padding: 10px;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
    cursor: pointer;
}

div.voyage h5 {
    margin: 0;
    padding: 0;
    font-size: .9em;
}

div.voyage span.date {
    font-size: .8em;
}

div.voyage img {
    float: left;
    height: 25px;
    margin-right: 15px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

div.voyage span.conduc {
    font-size: .9em;
}

/* FORMULAIRE VOYAGE */

form#creationvoyage {
    display: block;
    padding: 10px;
    font-style: italic;
    font-size: .9em;
}

form#creationvoyage label {
    font-style: normal;
    font-size: 1.1em;
}

form#creationvoyage input[type=text]{
    border-radius: 4px 4px 4px 4px;
    border: 0;
    background-color: rgb(220,220,220);
    width: 97%;
    height: 25px;
    font-size: 1em;
    padding-left: 5px;
    color: rgb(75, 75, 75);
}

form#creationvoyage select {
    width: 32%;
    border-radius: 4px 4px 4px 4px;
    border: 0;
    background-color: rgb(220,220,220);
    height: 25px;
    font-size: 1em;
    padding-left: 5px;
    color: rgb(75, 75, 75);
    -webkit-appearance: none;
}

form#creationvoyage span.note {
    display: inline-block;
    width: 100%;
    font-family: "omnes-pro", sans-serif;
    font-size: .9em;
    padding:0;
    margin: 0;
    border:0;
    font-style: normal;
}

form#creationvoyage input#rec {
    text-align: right;
    padding-right: 5px;
    margin-right: 5px;
    margin-left: 5px;
    width: 65%;
    font-size: 1.1em;
}


/* MESSAGERIE */

div#messagerie {
    position:absolute;
    top: 120px;
    left: 20%;
    border:solid 1px rgb(180, 180, 180);
    margin: 20px;
    width: 45%;
    height:75%;
    border-radius: 5px 5px 5px 5px;
}

div#messagerie h2 {
    font-family: "omnes-pro", sans-serif;
    font-weight: 300;
    padding:0;
    margin: 0;
    margin-top: 10px;
    border:0;
    width: 97%;
    text-align: center;
}

div#messagerie div#scrollpane {
    position: absolute;
    height: 100%;
    width: 69%;
    overflow: auto;
    overflow-x: hidden;
}


div#messagerie form#form_tchat {
    display: block;
    position: absolute;
    width: 69.9%;
    height: 4.6em;
    padding: 0px;
    bottom: 0;
    left: 30%;
    border: 0;
    border: 1px solid rgb(180, 180, 180);
    border-bottom: 0;
    border-radius: 0px 0px 5px 0px;
    background-color: white;
    text-align: right;
}

div#messagerie label {
    font-size: .75em;
    color: gray;
}

div#messagerie form#form_tchat textarea#buffer {
    border: 0;
    margin: 0;
    width: 99%;
    height: 3.5em;
    border-bottom: 1px dotted rgb(180, 180, 180);
    color: rgb(75, 75, 75);
    outline: none;
}

div#messagerie form#form_tchat input[type=submit] {
    display: inline-block;
    margin-right: 7%;
    margin-left: 3%;
    height: 20px;
    padding-top: 1px;
}

div#messagerie div.msg {
    font-size: .95em;
    margin-left: 7px;
    margin-right: 7px;
    text-align: justify;
}

div#messagerie div.msg:last-of-type {
    margin-bottom: 130px;
}

div#messagerie div.msg span.perso {
    width: 100%;
    display: block;
    margin-top: 10px;
}

div#messagerie div.msg span.dt {
    display: block;
    float: right;
    font-size: .8em;
    text-align: right;
    color: gray;
    font-style: italic;
    margin-right: 10px;
    margin-top: 3px;
}

div#messagerie div.msg span.dire {
    text-align: justify;
}

div#messagerie div.msg span.dire img {
    max-height: 1em;
    vertical-align:middle;
}

div#messagerie div {
    margin:0;
}

div#messagerie>div:first-of-type{
    float: right;
    width:69%;
}

div#messagerie>div:last-of-type{
    width: 30%;
    height:100%;
    border-right:solid 1px rgb(180, 180, 180);
    overflow:auto;
}

div#messagerie>div:last-of-type a {
    display:block;
    text-decoration:none;
    border-right: solid 3px white;
    border-bottom:solid 1px rgb(200, 200, 200);
    padding:13px;
    padding-left:20px;
    transition: border 0.7s;
}

div#messagerie>div:last-of-type a:hover,
div#messagerie>div:last-of-type a:focus {
    color: rgb(75, 75, 75);
}

div#messagerie>div:last-of-type a:last-of-type {
    margin:0;
    margin-bottom:50px;
}

div#messagerie>div:last-of-type a:hover, 
div#messagerie>div:last-of-type a:focus {}

div#messagerie>div:last-of-type a.selected {
    font-weight:bold;
}

div#messagerie>div:last-of-type a.unread {}

div#messagerie>div:first-of-type span.welcome {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-family: "omnes-pro", sans-serif;
    font-size: 1em;
    font-weight: 300;
    padding:0;
    margin: 0;
    border:0;
}

/* CARNET */

div#carnet {
    position:absolute;
    top: 120px;
    left: 20%;
    border:solid 1px rgb(180, 180, 180);
    margin: 20px;
    width: 45%;
    height:75%;
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
}

div#carnet div {
    margin:0;
}

div#carnet>div:first-of-type{
    float: right;
    width:69%;
    overflow-y: auto;
    overflow-x: hidden;
}

div#carnet>div:last-of-type{
    width: 30%;
    height:100%;
    border-right:solid 1px rgb(180, 180, 180);
    overflow-y: auto;
    overflow-x: hidden;
}

div#carnet>div:last-of-type a {
    display:block;
    text-decoration:none;
    border-right: solid 3px white;
    border-bottom:solid 1px rgb(200, 200, 200);
    padding:13px;
    padding-left:20px;
    transition: border 0.7s;
}

div#carnet>div:last-of-type a:last-of-type {
    margin:0;
    margin-bottom:50px;
}

div#carnet>div:last-of-type a:hover, 
div#carnet>div:last-of-type a:focus {
    color: rgb(75, 75, 75);
}

div#carnet>div:last-of-type a.selected {
    font-weight:bold;
}

div#carnet>div:first-of-type span.welcome {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-family: "omnes-pro", sans-serif;
    font-size: 1em;
    font-weight: 300;
    padding:0;
    margin: 0;
    border:0;
}

div#carnet>div:first-of-type p.msg {
    display: inline-block;
    text-align: center;
    font-style: italic;
    margin-top: 30px;
    font-weight: bold;
    font-family: "omnes-pro", sans-serif;
    font-size: .9em;
    font-weight: 300;
}

div#carnet>div:first-of-type input#buttonAdd {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

div#carnet>div:first-of-type span.label {
    display: block;
    float: left;
    text-align: right;
    width: 100px;
    margin-right: 10px;
    font-size: .9em;
    color: gray;
    padding: 0;
    border: 0;
}

div#carnet>div:first-of-type span.carac {
    display:block;
    margin-bottom: 13px;
    margin-left: 100px;
}

div#carnet>div:first-of-type h2 {
    font-family: "omnes-pro", sans-serif;
    font-size: 1.7em;
    font-weight: 300;
    padding:0;
    margin: 30px 0px 30px 0px;
    border:0;
    text-align: center;
}

div#carnet>div:first-of-type div.option {
    text-align: right;
    right:20px;
    bottom: 20px;
    position:absolute;
}

div#carnet>div:first-of-type a {
    text-decoration: none;
}

div#carnet>div:first-of-type div.option a {
    font-size: 0.8em;
}

div#carnet>div:first-of-type div.voyage_carnet {
    position: absolute;
    bottom: 100px;
    text-align: center;
    width: 69%;
}

div#carnet>div:first-of-type div.voyage_carnet a {
    text-decoration: none;
    font-size: .9em;
    color: gray;
    font-style: italic;
}

/* PROFILE */

div#param {
    position:absolute;
    top: 120px;
    left: 20%;
    margin:20px;
    width: 45%;
    text-align: right;
    font-size: 1.1em;
    padding-top: 50px;
}

div#param form.modinfo {
    display: block;
    width: 100%;
}

div#param form.modinfo label {
    color: gray;
}

div#param form.modinfo input[type=text],
div#param form.modinfo select {
    padding: 4px;
    color: rgb(75, 75, 75);
    font-family: "proxima-nova", sans-serif;
    font-size: 1.1em;
    border: 0;
    border-radius: 3px 3px 3px 3px;
    outline: none;
    transition: background-color 0.5s;
}

div#param form.modinfo select:focus,
div#param form.modinfo input[type=text]:focus {
    background-color: rgb(220,220,220);
}

div#param form.modinfo input[type=text],
div#param form.modinfo .select_contener {
    width: 75%;
}

div#param form.modinfo .select_contener {
    display: inline-block;
    text-align: left;
    padding: 4px;
}

div#param form.modinfo select {
    background-color: white;
    border: 1px solid white;
    border-radius: 3px 3px 3px 3px;
    -webkit-appearance:none ;
}

div#param form.modinfo .new {
    background-color: rgb(220,220,220);
}

div#param form.modinfo input:focus {}

div#param form.modinfo input[type=submit]:hover,
div#param form.modinfo input[type=reset]:hover {}

form#colorpick input#couleur {
    height: 80px;
    width: 80px;
    border: 0;
    text-align: center;
    font-size: 1.1em;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 0px 5px gray;
}

form#colorpick {
    display: block;
    position: absolute;
    left: 70%;
    top: 100px;
    outline: none;
}

form#form_del_compte {
    display: block;
    position: absolute;
    left: 70%;
    top: 250px;
    font-size: .8em;
    text-align: left;
}